{% set BUCKET_NAME = env['deployment'] %}

resources:

  - name: {{ BUCKET_NAME }}
    type: storage.v1.bucket
    properties:
      storageClass: {{ properties['storageClass']  }}
      location: {{ properties['location'] }}
      iamConfiguration:
        bucketPolicyOnly:
          enabled: {{ properties['bucketPolicyOnly'] }}
      {% if properties["websiteConfig"] %}
      website:
        mainPageSuffix: {{ properties["websiteConfig"].mainPageSuffix }}
        notFoundPage: {{ properties["websiteConfig"].notFoundPage }}
      {% endif %}

  - name: {{ BUCKET_NAME }}-iam-policy
    action: gcp-types/storage-v1:storage.buckets.setIamPolicy
    properties:
      bucket: {{ BUCKET_NAME }}
      project: {{ env.project }}
      bindings:
        - role: roles/storage.admin
          members:
            - serviceAccount:{{ env['project_number'] }}@cloudservices.gserviceaccount.com
        - role: roles/storage.legacyBucketOwner
          members:
            - projectEditor:{{ env['project'] }}
            - projectOwner:{{ env['project'] }}
        {% if not properties['disableViewer'] %}
        - role: roles/storage.legacyBucketReader
          members:
            - projectViewer:{{ env['project'] }}
        {% endif %}
        {% if properties["websiteConfig"] %}
        - role: roles/storage.objectViewer
          members:
            - allUsers
        {% endif %}
        {% for binding in properties.bindings %}
        - role: {{ binding.role }}
          members: {{ binding.members }}
        {% endfor %}
    metadata:
      dependsOn:
        - {{ BUCKET_NAME }}

{% if not properties['bucketPolicyOnly'] %}
{% for ac in properties['acl'] %}
  - name: {{ ac.name }}-acl
    type: storage.v1.bucketAccessControl
    properties:
      entity: {{ ac.entity }}
      kind: storage#bucketAccessControl
      bucket: {{ BUCKET_NAME }}
      role: {{ ac.role }}
    metadata:
      dependsOn:
        - {{ BUCKET_NAME }}
  {% if loop.index != loop.length %}
        - {{ properties['acl'][loop.index]['name'] }}-acl
  {% endif %}
{% endfor %}
{% endif %}

outputs:

- name: name
  value: {{ BUCKET_NAME }}
- name: url
  value: https://storage.googleapis.com/{{ BUCKET_NAME }}